.my-anchor-pane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #000019, #400040);
}

.bouton{
  -fx-background-color: #684869; /* Couleur de fond */
  -fx-text-fill: white;
  -fx-font-style: italic;
  -fx-border-color: white;
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 16px;
}
.labelHautBalliste{
    -fx-graphic: url('Balliste.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelHautBehemoth{
    -fx-graphic: url('Behemoth.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelHautScavenger{
    -fx-graphic: url('Scavenger.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelHautVie{
    -fx-graphic: url('Vie.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelHautCredit{
    -fx-graphic: url('Credit.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelNombre{
    -fx-text-fill: white;
}

.labelTourNikola{
    -fx-graphic: url('Nikola.png');
}


.labelTourEdison{
    -fx-graphic: url('Edison.png');

}

.labelTourOppenheimer{
    -fx-graphic: url('Oppenheimer.png');

}

.labelBombe{
    -fx-graphic: url('bombe.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelHydrogene{
    -fx-graphic: url('hydrogene.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelMur{
    -fx-graphic: url('mur.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelMaintenance{
    -fx-graphic: url('maintenance.png');
    -fx-font-size: 10pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-background-color: #684869; /* Couleur de fond */
    -fx-alignment: top-center;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
}
.labelFond{
    -fx-graphic: url('fond2.jpg');
}




