.my-anchor-pane {
    -fx-background-color:  #514c69; 
}

.titre {
  
    -fx-border-color: white;
       -fx-border-width: 2px;
       -fx-border-radius: 10px;
       -fx-background-radius: 16px; /* Rayon de courbure des coins */
       -fx-text-fill: white;
       -fx-font-style: italic;
       -fx-font-weight: bold;
       -fx-font-family: "UniversFont";
       -fx-alignment: center;
       -fx-font-size: 25pt;
       
}

.bouton{
  -fx-background-color: #684869; /* Couleur de fond */
  -fx-text-fill: white;
  -fx-font-style: italic;
  -fx-border-color: rgb(147, 139, 139);
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 16px;
}

.labelCosigne{
    -fx-border-color:rgb(147, 139, 139);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: "UniversFont";
    -fx-alignment: center;
    -fx-font-size: 9pt;
}
.labelFond{
    -fx-graphic: url('fond.jpg');
    }




