.my-anchor-pane {
    -fx-background-color:  #514c69; 
}

.titre {
  
    -fx-font-size: 28pt;
    -fx-font-family: "UniversFont";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-border-color: rgb(147, 139, 139);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
       
}


.bouton{
  -fx-background-color: #684869; /* Couleur de fond */
  -fx-text-fill: white;
  -fx-font-style: italic;
  -fx-border-color: rgb(147, 139, 139);
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 16px;
}

.labelCosigne{
    -fx-border-color:rgb(147, 139, 139);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 16px; /* Rayon de courbure des coins */
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-font-family: "UniversFont";
    -fx-alignment: center;
    -fx-font-size: 10pt;
}




